.add-ship-page{
  padding: 20px;
}

.add-ship-header{
  text-align: center;
}

.add-ship-form{
  display: grid;
  grid-template-columns: repeat(2, 280px);
  gap: 10px;
  align-items: end;
  justify-content: center;
}

.add-ship-label{
  display: flex;
  flex-direction: column;
  input{
    border: none;
    border-bottom: 2px solid black;
  }
}

input[type=submit]{
  height: 50px;
  border: none;
  background: var(--green);
  transition: .2s;
  &:hover{
    cursor: pointer;
    transform: var(--translateY);
  }
}

@media(max-width: 600px){
  .add-ship-form{
    grid-template-columns: 1fr;
  }
}